-solution = local_assigns[:solution]  || false

.answer{:class => solution ? "solution" : ""}
  %a{:name=>"#{answer.id}"}
  #vote-col
    =vote_box(answer, question_path(current_languages, question))
  #body-col
    .markdown
      =markdown(auto_link(answer.body))
    .actions
      = link_to t(".add_comment"), "#", :class => "addNestedAnswer"
    .user_data
      .time_ago
        answered
        %strong
          = t("time.ago", :time => time_ago_in_words(answer.created_at))
      .avatar
        = gravatar(answer.user.email.to_s, :size => 32)
      .user
        = link_to h(answer.user.login), user_path(answer.user)
        == (#{answer.user.reputation_on(current_group)})
        = t("global.from", :site => answer.user.country_name)
        = country_flag(answer.user.country_code, answer.user.country_name)
    .clear

    -form_for comment, :url => question_answers_path(current_languages, @question.id, comment.id), :html => {:class => "form nestedAnswerForm"} do |f|
      = render :partial => "answers/form", :locals => {:f => f, :parent => answer}
      .group.navform
        = submit_tag t('.comment_submit', :default => :"answers.form.comment_submit"), :class => "button"

    / Nested Answers
    .children
      -answer.children.each do |comment|
        .comment
          %strong
            = t("time.ago", :time => time_ago_in_words(comment.created_at))
          =link_to comment.user.login, user_path(comment.user)
          said:
          .markdown
            =markdown(auto_link(comment.body))
  .clear
