-solution = local_assigns[:solution]  || false

.answer{:class => solution ? "solution" : ""}
  %a{:name=>"#{answer.id}"}
  #vote-col
    =vote_box(answer, question_path(current_languages, question))
  #body-col
    .markdown
      =markdown(answer.body)
    .user_data
      .time_ago
        answered
        %strong
          = t("time.ago", :time => time_ago_in_words(answer.created_at))
      .avatar
        = gravatar(answer.user.email.to_s, :size => 32)
      .user
        = link_to h(answer.user.login), user_path(answer.user)
        == (#{answer.user.reputation_on(current_group)})
        = t("global.from", :site => answer.user.country_name)
        = country_flag(answer.user.country_code, answer.user.country_name)
    .clear
    / Nested Answers
    .children
      -answer.children.each do |comment|
        .comment
          %strong
            = t("time.ago", :time => time_ago_in_words(comment.created_at))
          =link_to comment.user.login, user_path(comment.user)
          said:
          .markdown
            =markdown(comment.body)
  .clear
