= javascript_include_merged :show

-content_for :subtabs do
  .navtitle
    = t(".title")

- form_for(@question, :url => question_path(@question), :html => {:class => "form"}) do |f|
  =render :partial => "form", :locals => {:f => f}
  .group.navform
    .controls.right{:style => "width: 50%"}
      .left{:style => "width: 49.5%"}
        = f.label :wiki, "Wiki", :class => "radio"
        = f.check_box :wiki, :class => "checkbox"

    = f.submit t("scaffold.update")
    = t("global.or")
    = link_to t('scaffold.cancel'), questions_path, :class => "button cancel"
