-content_for :subtabs do
  .navtitle
    =t("wiki.history.title", :count => @question.versions.count)

-counter = @question.versions.count

-form_tag diff_question_path(@question), :method => "GET", :class => "form" do
  #questions
    .question
      %h2
        =link_to h(@question.title), question_path(@question)
      %h2.version_title
        = radio_button_tag("prev", :current, :checked => @prev == "current")
        = radio_button_tag("curr", :current, :checked => @curr == "current")
        =t("wiki.history.current_version")
        .diff_actions
          -if @question.versions.count > 0
            =link_to t("global.previous"), diff_question_path(@question, :curr => :current, :prev => @question.versions.count-1 ), :class => "diff_prev"
      -if !@question.version_message.blank?
        %h2
          = t('wiki.history.version_summary')
        %h3.version_message
          = @question.version_message
      %h2=t(:title, :scope => "activerecord.attributes.question")
      =h(@question.title)
      -if !@question.body.blank?
        %h2=t(:body, :scope => "activerecord.attributes.question")
        .markdown
          = shapado_auto_link(markdown(@question.body))
      %h2=t(:tags, :scope => "activerecord.attributes.question")
      =@question.tags.join(", ")

    -@question.versions.reverse_each do |version|
      -counter -= 1
      -if !version.data.empty?
        = render :partial => "wiki/version", :object => version, :locals => {:post => @question, :number => counter, :prev => @prev, :curr => @curr, :scope => "activerecord.attributes.question"}
  .group.navform
    = submit_tag t("wiki.actions.show_diff"), :value => "diff", :name => "show"
    = t("global.or")
    = link_to(t("scaffold.back"), question_path(@question))
