-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :sidebar do
  -if logged_in?
    = render :partial => "shared/preferred_tags"

  .block
    %h3
      = t('.tags', :default => [:"layout.application.tags", :"activerecord.attributes.user.tags", "tags"]).capitalize
    = render :partial => "shared/tag_list", :object => @tag_cloud


/Questions
%ul#questions
  -if @questions.empty?
    %li.box.highlight
      = t(".empty")
  -@questions.each do |question|
    = render :partial => "question", :object => question

=will_paginate @questions

