-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

#questions_index.subtitle{:class => @active_subtab}
  = t(".title")
  .right.tabs
    .tab.newest
      = link_to t(".newest"), questions_path(:category => current_category, :sort=>"newest")
    .tab.hot
      = link_to t(".hot"), questions_path(:category => current_category, :sort=>"hot")
    .tab.votes
      = link_to t(".votes"), questions_path(:category => current_category, :sort=>"votes")
    .tab.active
      = link_to t(".active"), questions_path(:category => current_category, :sort=>"active")

.buttons
  = link_to t(".ask_question"), new_question_path(:category => current_category), :class => "button"
%br.clear

#questions
  -@questions.each do |question|
    = render :partial => "question", :object => question

=will_paginate @questions

.buttons
  = link_to t(".ask_question"), new_question_path(:category => current_category), :class => "button"

-content_for :sidebar do
  -if logged_in?
    = render :partial => "shared/preferred_tags"
  %h1
    = t('.tags', :default => [:"layout.application.tags", :"activerecord.attributes.user.tags", "tags"]).capitalize
  = render :partial => "shared/tag_list", :object => @tag_cloud
