
%h1
  = t("views.questions.index.title")

.buttons
  = link_to I18n.t("views.layout.ask_question"), new_question_path, :class => "button"
%br.clear

#questions
  -@questions.each do |question|
    = render :partial => "shared/question", :locals => {:question => question}

=will_paginate @questions

.buttons
  = link_to I18n.t("views.layout.ask_question"), new_question_path, :class => "button"

-content_for :sidebar do
  %h1
    = I18n.t('views.questions.sidebar.tags', :default => [:"views.layout.tags", :"activerecord.attributes.user.tags", "tags"]).capitalize
  = tag_cloud
