
.buttons
  = link_to 'Ask question', new_question_path, :class => "button"

%table.list
  - @questions.each do |question|
    %tr
      %td
        = h question.title
      %td
        = h truncate(question.body, :length => 30)
      %td
        = h question.user.login
      %td
        = h question.answered
      %td
        = link_to 'Show', question
      %td
        = link_to 'Edit', edit_question_path(question)
      %td
        = link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete
%br
