
-content_for :subtabs do
  .navtitle
    = t(".title")
-content_for :sidebar do
  -if !current_group.question_help.empty?
    .help
      %h4
        = t(".how_to_ask")
      =current_group.question_help

- form_for(@question, :html=>{:class => "form", :id => "ask_question"}) do |f|
  =render :partial => "form", :locals => {:f => f}

  .group.navform
    .controls.right{:style => "width: 50%"}
      .left{:style => "width: 49.5%"}
        = f.label :wiki, "Wiki", :class => "radio"
        = f.check_box :wiki, :class => "checkbox"
      .left{:style => "width: 49.5%"}
        = f.label :anonymous, t("scaffold.post_as_anonymous"), :class => "radio"
        = f.check_box :anonymous, {:class => "checkbox"}, true, false

    = f.submit t('scaffold.create')
    = t("global.or")
    = link_to t('scaffold.cancel'), questions_path, :class => "button cancel"
