= stylesheet_link_tag 'compiled/components/show_question.css'

= error_messages_for :answer

#question
  =vote_box
  #question-title
    %h2
      = h @question.title
  #question-body
    = h @question.body
  -if logged_in? && current_user.can_modify?(@question)
    .buttons
      = link_to I18n.t('scaffold.edit'), edit_question_path(@question), :class => "button"
      or
      = link_to I18n.t('scaffold.back'), questions_path, :class => "button cancel"

%hr
%h2
  =I18n.t('views.questions.show.answers')

#answers
  -@answers.each do |answer|
    .answer
      .answer_title
        = link_to h(answer.user.login), user_path(answer.user)
        = time_ago_in_words(answer.created_at)+" "+ "ago"
      .answer_body
        = vote_box
        = h answer.body
        .clear
        -if logged_in? && current_user.can_modify?(answer)
          .buttons
            = link_to I18n.t("scaffold.edit"), edit_answer_path(answer), :class =>"button"
            = link_to I18n.t("scaffold.destroy"), answer, :confirm => I18n.t("scaffold.sure", :model => "answer"), :method => :delete, :class =>"button cancel"
      .clear


%hr
-form_for @answer, :html => {:class => "form"} do |f|
  = render :partial => "answers/form", :locals => {:f => f}
  = submit_tag I18n.t('views.answers.form.submit')
%hr


-content_for :sidebar do
  %b
    = I18n.t('activerecord.attributes.user.asked_by')
  = link_to h(@question.user.login), user_path(@question.user)
  %b
    = time_ago_in_words(@question.created_at)+" ago"
  %br
  %h1
    = I18n.t('views.questions.sidebar.tags', :default => [:"views.layout.tags", :"activerecord.attributes.user.tags", "tags"])
  &=@question.tags.join(",")

