
-content_for :subtabs do
  .navtitle
    = t(".title")

-form_tag "/questions/tags", :class => "form", :id => "filter_tags", :method => "get" do
  = label_tag :q, t(".filter"), :class => "label"
  = text_field_tag "q", params[:q], :class => "text_field filter_field"
  = submit_tag("filter")

#tag_table
  = render :partial => "tag_table", :object => @tag_cloud
