
.ad.left{:style => "margin: 10px"}
  = image_tag("ads_position_#{ad.position}.png", :class => "left")
  %span.left{:style => "margin-left: 5px"}
    %h3
      = ad.name
    = ad.class.to_s
    .buttons
      = link_to t('scaffold.destroy'), ad_path(ad), :confirm => 'Are you sure?', :method => :delete, :class => "button cancel"
  .clear

