.field-group
  .label-container
    = form.label :google_ad_client
  .field
    = form.text_field :google_ad_client, :class => "text-field"
.field-group
  .label-container
    = form.label :google_ad_slot
  .field
    = form.text_field :google_ad_slot, :class => "text-field"
.field-group
  .label-container
    = form.label :google_ad_width
  .field
    = form.text_field :google_ad_width, :class => "text-field"
.field-group
  .label-container
    = form.label :google_ad_height
  .field
    = form.text_field :google_ad_height, :class => "text-field"