.field-group
  .label-container
    = form.label t("ads.name")
  .field
    = form.text_field :name, :class => "text-field"
.field-group
  .label-container
    = form.label t("ads.position")
  .field
    = form.select :position, [["context panel","context_panel"],["header","header"],["footer","footer"],["content","content"]].collect {|p| [ p[0], p[1] ] }
  .field
    = form.hidden_field "_type", :value=> params[:type], :class => "text-field"

-if (params[:type] || params["ad"]["_type"]) == "Adsense"
  .field-group
    .label-container
      = form.label :google_ad_client
    .field
      = form.text_field :google_ad_client, :class => "text-field"
  .field-group
    .label-container
      = form.label :google_ad_slot
    .field
      = form.text_field :google_ad_slot, :class => "text-field"
  .field-group
    .label-container
      = form.label :google_ad_width
    .field
      = form.text_field :google_ad_width, :class => "text-field"
  .field-group
    .label-container
      = form.label :google_ad_height
    .field
      = form.text_field :google_ad_height, :class => "text-field"

-if (params[:type] || params["ad"]["_type"]) == "Adbard"
  .field-group
    .label-container
      = form.label :adbard_host_id
    .field
      = form.text_field :adbard_host_id, :class => "text-field"
  .field-group
    .label-container
      = form.label :adbard_site_key
    .field
      = form.text_field :adbard_site_key, :class => "text-field"

