
-content_for :subtabs do
  .navtitle
    = t("ads.ad_links", :type => h(params[:type]))

-form_for(:ad, @ad, :url => ads_path,:html => {:class => "form"}) do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  .buttons
    = f.submit t('scaffold.create')
    = link_to t('scaffold.back'), ads_path, :class => "cancel button"