-content_for :subtabs do
  .navtitle
    = t(".title")
    -if @announcements
      == (#{@announcements.total_entries})

- form_for(@announcement, :html=>{:class => "form", :id => "new_announcement"}) do |f|
  =render :partial => "form", :locals => {:f => f}

  .group.navform
    = f.submit t('scaffold.create')

%ul.items#announcements
  -@announcements.each do |announcement|
    %li.item
      .stats
        .box
          = link_to t("announcements.actions.delete"), announcement_path(announcement), :method => :delete
      .summary
        %h3
          = markdown(announcement.message)
        = "#{announcement.starts_at.strftime("<b>%x</b> %X")} - #{announcement.ends_at.strftime("<b>%x</b> %X")}"
        -if announcement.only_anonymous
          %strong
            = "[#{t("activerecord.attributes.announcement.only_anonymous")}]"

