- form_tag session_path, :class => "form" do
  .field-group
    .label-container
      = label_tag 'login', t(:login, :scope => "activerecord.attributes.user")
    .field
      = text_field_tag 'login', @login, :class => "text-field"

  .field-group
    .label-container
      = label_tag t(:password, :scope => "activerecord.attributes.user")
    .field
      = password_field_tag 'password', nil, :class => "text-field"
  .field-group
    .field
      = submit_tag t("sessions.new.log_in")
