- form_tag session_path, :class => "form" do
  .group
    = label_tag 'login', t(:login, :scope => "activerecord.attributes.user"), :class => "label"
    = text_field_tag 'login', @login, :class => "text_field"

  .group
    = label_tag 'password', t(:password, :scope => "activerecord.attributes.user"), :class => "label"
    = password_field_tag 'password', nil, :class => "text_field"
  .group.navform
    = submit_tag t("sessions.new.log_in"), :class => "button"
