
-if !local_assigns[:mini]
  .comment.list-item
    %a{:name => comment.id}

    %span.left{:style => "padding: 2px; width: 64px; margin-right: 10px"}
      .gravatar
        = gravatar(comment.user.email.to_s)
      = link_to h(comment.user.login), user_path(comment.user), :class => "clear"
    .markdown
      = shapado_auto_link(markdown(comment.body), :link_users => true)
    .comment-info
      = t("time.ago", :time => time_ago_in_words(comment.created_at))
      = t("global.from", :site => comment.user.country_name)
      = country_flag(comment.user.country_code, comment.user.country_name)
    .controls
      .actions
        - if logged_in? && current_user != comment.user
          = link_to t("comments.shared.reply"), "#", :class => "addNestedAnswer reply", 'data-author' => comment.user.login
        -if logged_in? && (current_user.can_modify?(comment) || current_user.mod_of?(current_group))
          = link_to t("scaffold.edit"), edit_comment_path(comment, :source => source)
          = link_to t("scaffold.destroy"), comment_path(comment, :source => source), :confirm => t("scaffold.sure", :model => "comment"), :method => :delete
-else
  .comment
    %a{:name => comment.id}
    %strong
      = t("time.ago", :time => time_ago_in_words(comment.created_at))
    =link_to comment.user.login, user_path(comment.user)
    == #{t("comments.shared.said")}:
    .markdown
      = shapado_auto_link(markdown(comment.body), :link_users => true)
    .controls
      .actions
        - if logged_in? && current_user != comment.user
          = link_to t("comments.shared.reply"), "#", :class => "addNestedAnswer reply", 'data-author' => comment.user.login
        -if logged_in? && (current_user.can_modify?(comment) || current_user.mod_of?(current_group))
          = link_to t("scaffold.edit"), edit_comment_path(comment, :source => source), :class => "edit_comment"
          = link_to t("scaffold.destroy"), comment_path(comment, :source => source), :confirm => t("scaffold.sure", :model => "comment"), :method => :delete
    .clear

