.comment.list-item
  %span.left{:style => "padding: 2px; width: 64px; margin-right: 10px"}
    .gravatar
      = gravatar(comment.user.email.to_s)
    = link_to h(comment.user.login), user_path(comment.user), :class => "clear"
  %span.comment-body
    .markdown
      = markdown(comment.body)
    .right
      = t("time.ago", :time => time_ago_in_words(comment.created_at))
      = t("global.from", :site => comment.user.country_name)
      = country_flag(comment.user.country_code, comment.user.country_name)
  .clear
  .buttons
    -if logged_in? && (current_user.can_modify?(comment) || current_user.mod_of?(current_group))
      = link_to t("scaffold.edit"), edit_comment_path(comment, :source => source), :class =>"button"
      = link_to t("scaffold.destroy"), comment_path(comment, :source => source), :confirm => t("scaffold.sure", :model => "comment"), :method => :delete, :class =>"button cancel"
