%p
  == #{h(@user.login)}さん、
  %br
  = h(@question.user.login)
  さんがあなたが答えられるであろう質問をしています。
  %br
  == "#{h(@question.title)}"
  %br
  回答や返答を行う場合は以下よりお願いします。
  = link_to url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug), url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)
  %br

  またはあなたがこの質問に答えられそうな別な人をご存じでしたら、以下のURLを教えてあげて下さい。
  =  url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question)
  %br
  もしあなたがすぐに答えられなかったとしても、私たちは別な誰かに尋ねることでしょう。あなたはいつでも好きな時に回答できます。
  %br
== - #{h(@group.name)}
