
= t("notifier.global.hi", :user => h(@user.login))

= t("notifier.give_advice.message1", :user => h(@question.user.login))

== "#{h(@question.title)}"

= t("notifier.give_advice.message2")
= url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

= t("notifier.give_advice.message3")
=  url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

= t("notifier.give_advice.message4")

== - #{@group.name}

