== Hi #{h(@user.login)},

= h(h(@question.user.login))
just asked a question you might be able to answer:

== "#{h(@question.title)}"

To answer, just reply to this message here:
= url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

Or, if you know someone who might be able to answer, send them this referral link:
=  url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

If we don't get an answer from you soon, we'll ask someone else; you can still answer it whenever you want.

== - #{@group.name}

