== Salut #{h(@user.login)},

= h(@question.user.login)
vient de poser une question dont vous pourriez connaitre la réponse:

== "#{h(@question.title)}"

Pour y répondre, visiter ce lien:
= link_to url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug), url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

Ou bien, si vous connaissez quelqu'un qui pourrait y répondre, envoyez-lui ce lien:
=  url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

Si nous ne recevons pas de réponses de votre part, nous demandrons à quelqu'un d'autre; vous pouvez cependant toujours y répondre quand vous le souhaitez.

== - #{h(@group.name)}