== Hola #{h(@user.login)},

= h(h(@question.user.login))
acaba de hacer una pregunta que usted podria contestar:

== "#{h(@question.title)}"

Para contestar, responde a este mensaje en el siguiente enlace:
= url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

o, si conoces a alguien que pueda contestar, enviale este enlace:
=  url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

si no tenemos respuesta de ti pronto, le preguntaremos a otra persona; puedes contestar la pregunta cuando quieras.

== - #{h(@group.name)}
