== Γεια σας #{h(@user.login)},

= Ο/η h(h(@question.user.login))
μόλις έκανε μια ερώτηση που μπορεί να είστε σε θέση να απαντήσετε:

== "#{h(@question.title)}"

Για να απαντήσετε, απλώς απαντήστε σ' αυτό το μήνυμα εδώ:
= url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

Εναλλακτικά, αν ξέρετε κάποιον που είναι σε θέση να απαντήσει, στείλτε του αυτό τον σύνδεσμο παραπομπής:
=  url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

Αν δεν λάβουμε απάντηση από εσάς σύντομα θα ρωτήσουμε κάποιον άλλο, εσείς μπορείτε να απαντήσετε ακόμα όποτε θέλετε.

== - #{@group.name}

