%p
  == Hola #{h(@user.login)},
  %br
  = h(@question.user.login)
  acaba de hacer una pregunta que usted podria contestar:
  %br
  == "#{h(@question.title)}"
  %br
  Para contestar, responde a este mensaje en el siguiente enlace:
  -link = url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)
  = link_to link, link
  %br
  o, si conoces a alguien que pueda contestar, enviale este enlace:
  =  url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)
  %br
  si no tenemos respuesta de ti pronto, le preguntaremos a otra persona; puedes contestar la pregunta cuando quieras.
  %br
== - #{h(@group.name)}