%p
  == Hi #{h(@user.login)},
  %br
  = h(@question.user.login)
  just asked a question you might be able to answer:
  %br
  == "#{h(@question.title)}"
  %br
  To answer, just reply to this message here:
  = link_to url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)
, url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)
  %br

  Or, if you know someone who might be able to answer, send them this referral link:
  =  url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)
  %br
  If we don't get an answer from you soon, we'll ask someone else; you can still answer it whenever you want.
  %br
== - #{h(@group.name)}