-link = url_for(:host => @report.group.domain, :controller => "welcome", :action => "index")

== Hi #{@user.login},
==
==
== report for group #{@report.group.name}
==

== since #{@report.since}
==
==
== #{@report.questions} questions were created
== #{@report.answers} answsers were created
== #{@report.votes} votes were made
== #{@report.badges} badges were awarded
==
==
== The account has #{@report.users} users.

== Visit group at #{link}
