-link = url_for(:host => @report.group.domain, :controller => "welcome", :action => "index")

== Hi #{@user.login},
%br
%br
== report for group #{@report.group.name}
%br

== since #{@report.since}
%br
%br
== #{@report.questions} questions were created
%br
== #{@report.answers} answsers were created
%br
== #{@report.votes} votes were made
%br
== #{@report.badges} badges were awarded
%br
%br
== The account has #{@report.users} users.
%br
%br
== Visit group at #{link_to(link, link)}
