-link = url_for(:host => @report.group.domain, :controller => "welcome", :action => "index")

== Hola #{@user.login},
%br
%br
== reporte para el groupo #{@report.group.name}
%br

== desde el #{@report.since}
%br
%br
== #{@report.questions} preguntas han sido creadas
%br
== #{@report.answers} respuestas han sido creadas
%br
== #{@report.votes} votos has sido efectuados
%br
== #{@report.badges} insignas han sido reconpensadas
%br
%br
== La cuenta tiene #{@report.users} usuarios.
%br
%br
== Visita el  grupo en #{link_to(link, link)}
