-link = url_for(:host => @report.group.domain, :controller => "welcome", :action => "index")

== Salut #{@user.login},
==
==
== rapport du groupe #{@report.group.name}
==

== depuis le #{@report.since}
==
==
== #{@report.questions} questions ont été crée
== #{@report.answers} réponses ont été crée
== #{@report.votes} votes ont été effectué
== #{@report.badges} insignes ont été réconpensé
==
==
== Le groupe a #{@report.users} utilisateurs.

== Visitez le groupe sur #{link}
