-link = url_for(:host => @report.group.domain, :controller => "welcome", :action => "index")

== Γεια σας #{@user.login},
==
==
== αναφορά για την ομάδα #{@report.group.name}
==

== από #{@report.since}
==
==
== ερωτήθηκαν #{@report.questions} ερωτήσεις
== δόθηκαν #{@report.answers} απαντήσεις
== δόθηκαν #{@report.votes} ψήφοι
== χορηγήθηκαν #{@report.badges} τίτλοι
==
==
== Η ομάδα έχει #{@report.users} χρήστες.

== Επισκεφθείτε την ομάδα στο #{link}
