
#moderate.subtitle{:class => @subtab}
  = I18n.t("views.layout.moderate")
  %span.right.tabs
    %ul
      %li.tab.all
        = link_to t(:all, :scope => "views.moderate.index"), moderate_path(:tab=>"all")
      %li.tab.questions
        = link_to t(:questions, :scope => "activerecord.models"), moderate_path(:tab=>"questions")
      %li.tab.answers
        = link_to t(:answers, :scope => "activerecord.models"), moderate_path(:tab=>"answers")

-form_tag ban_path do
  =submit_tag "ban"
  -if @questions
    %h2= t(:questions, :scope => "activerecord.models")
    %table.list
      %tr
        %th
        %th
          =t(:flags, :scope => "activerecord.models")
        %th
          =t(:item_title, :scope => "views.moderate.index")
        %th
          =t(:content, :scope => "views.moderate.index")
      -@questions.each do |question|
        %tr
          %th
            = check_box_tag "question_ids[]", question.id
          %td.numeric
            =question.flags_count
          %td
            = link_to h(question.title), question_path(question)
          %td
            = truncate(question.body, :length => 100)
    = will_paginate @questions, :param_name => "questions_page"

  -if @answers
    %h2= t(:answers, :scope => "activerecord.models")
    %table.list
      %tr
        %th
        %th
          =t(:flags, :scope => "activerecord.models")
        %th
          =t(:item_title, :scope => "views.moderate.index")
        %th
          =t(:content, :scope => "views.moderate.index")
      -@answers.each do |answer|
        %tr
          %th
            = check_box_tag "answer_ids[]", answer.id
          %td.numeric
            =answer.flags_count
          %td
            = link_to h(answer.question.title), question_path(answer.question)
          %td
            = truncate(answer.body, :length => 100)
    = will_paginate @answers, :param_name => "answers_page"

  = submit_tag "ban"
