
-content_for :subtabs do
  .navtitle
    = t(".title")
  %ul
    %li.head_tag
      = link_to h("<head>"), manage_content_path(:tab=>"head_tag")
    %li.question_help
      = link_to t(".question_help"), manage_content_path(:tab=>"question_help")
    %li.question_prompt
      = link_to t(".question_prompt"), manage_content_path(:tab=>"question_prompt")
    %li.head
      = link_to t(".head"), manage_content_path(:tab=>"head")
    %li.top_bar
      = link_to t(".top_bar"), manage_content_path(:tab=>"top_bar")
    %li.footer
      = link_to t(".footer"), manage_content_path(:tab=>"footer")

-form_for @group, :html => {:class => "form"} do |form|
  = form.error_messages
  =hidden_field_tag :source, domain_url(:custom => @group.domain, :controller => "admin/manage", :action => "content", :tab=>@active_subtab)
  -case @active_subtab.to_sym
    -when :question_prompt
      -AVAILABLE_LANGUAGES.sort.each do |lang|
        .group
          =form.label "_question_prompt[#{lang}]", language_desc(lang), :class => "label"
          =text_field_tag "group[custom_html][question_prompt[#{lang}]]", @group.custom_html.question_prompt[lang], :class => "text_field"
    -when :question_help
      -AVAILABLE_LANGUAGES.sort.each do |lang|
        .group
          =form.label "group[custom_html][#{lang}]", language_desc(lang), :class => "label"
          =text_area_tag "group[custom_html][question_help[#{lang}]]", @group.custom_html.question_help[lang], :class => "text_area"
    -when :head
      -AVAILABLE_LANGUAGES.sort.each do |lang|
        .group
          =form.label "_head[#{lang}]", language_desc(lang), :class => "label"
          =text_area_tag "group[custom_html][head[#{lang}]]", @group.custom_html.head[lang], :class => "text_area"
    -when :footer
      -AVAILABLE_LANGUAGES.sort.each do |lang|
        .group
          = form.label "footer", language_desc(lang), :class => "label"
          = text_area_tag "group[custom_html][footer[#{lang}]]", @group.custom_html.footer[lang], :class => "text_area"
    -when :head_tag
      .group
        = form.label "head_tag", h("<head>"), :class => "label"
        = text_area_tag "group[custom_html][head_tag]", @group.custom_html.head_tag, :class => "text_area"
    -when :top_bar
      .group
        =form.label "top_bar", t(".top_bar"), :class => "label"
        .description
          =t(".top_bar_tip")
        =text_area_tag "group[custom_html][top_bar]", @group.custom_html.top_bar, :class => "text_area"

  .navform.group
    = form.submit t("scaffold.update")
