
.field-group
  .label-container
    = form.label :name
  .field
    = form.text_field :name, :class => "text-field"


.field-group
  .label-container
    = form.label :subdomain, "URL"
  .field.without-label
    %span.tip
      ="#{request.protocol}"
    = form.text_field :subdomain, :class=>"text-field"
    %span.tip
      = ".#{request.domain}"

.field-group
  .label-container
    = form.label :custom_domain, "Custom domain"
  .field.without-label
    %span.tip
      = "#{request.protocol}"
    = form.text_field :custom_domain, :class=> "text-field"

.field-group.clear
  .label-container
    = form.label :description
  .field
    = form.text_area :description, :class => "text-area huge", :id => "markdown_editor"
    .tip
      You have 400 characters to describe the group.
  #markdown_preview.markdown

.field-group.clear
  .label-container
    = form.label :legend
  .field
    = form.text_field :legend, :class => "text-field"
    .tip
      It will be used in the header, you have 40 characters

.field-group
  .label-container
    = form.label :categories
  .field
    = form.text_field :categories, :value => @group.categories.join(", "), :class => "text-field"
    .tip
      Separate categories by commas.

.field-group
  .label-container
    = form.label :logo_data, "Logo"
  .field
    -unless @group.new?
      = image_tag(logo_group_path(@group))
    %br
    = form.file_field :logo_data
    .tip
      You can upload the group logo. The maximum file size is 2Mb.
