
.field-group
  .label-container
    = form.label t('.name')
  .field
    = form.text_field :name, :class => "text-field"


.field-group
  .label-container
    = form.label :subdomain, "URL"
  .field.without-label
    %span.tip
      ="#{request.protocol}"
    = form.text_field :subdomain, :class=>"text-field"
    %span.tip
      = ".#{request.domain}"

-if current_user.admin?
  .field-group
    .label-container
      = form.label :domain, "Domain"
    .field.without-label
      %span.tip
        =request.protocol
      = form.text_field :domain, :class=> "text-field"
  .field-group
    .label-container
      = form.label :isolate, "Isolate"
    .field
      = form.check_box :isolate
      .tip
        isolate the group form other groups

.field-group.clear
  .label-container
    = form.label t('.description')
  .field
    = form.text_area :description, :class => "text-area huge", :id => "markdown_editor"
    .tip
      = t('.description_legend')
  #markdown_preview.markdown

.field-group.clear
  .label-container
    = form.label t('.legend')
  .field
    = form.text_field :legend, :class => "text-field"
    .tip
      = t('.legend_legend')

.field-group
  .label-container
    = form.label t('.default_tags')
  .field
    = form.text_field :default_tags, :value => @group.default_tags.join(", "), :class => "text-field"
    .tip
      = t('.default_tags_legend')

.field-group
  .label-container
    = form.label :logo_data, t(".logo")
  .field
    -unless @group.new?
      = image_tag(logo_group_path(@group))
    %br
    = form.file_field :logo_data
    .tip
      = t('.logo_legend')
