-content_for :subtabs do
  .navtitle
    = t(".title")
    -if @groups
      == (#{format_number(@groups.total_entries)})

  %ul
    %li.active
      = link_to t(".actives"), groups_path(:tab=>"actives")
    %li.pending
      = link_to t(".pendings"), groups_path(:tab=>"pendings")

%ul.items#groups
  -@groups.each do |group|
    %li.item
      .logo
        = link_to image_tag(logo_group_path(group), :style => "height: 64px; width: 128px; vertical-align: top"), domain_url(:custom => group.domain)
      .summary
        %h3
          = link_to h(group.name), domain_url(:custom => group.domain)
        .markdown.group_description
          = auto_link(markdown(group.description))
      .actions
        = link_to t(".about"), group, :class => "button"
        -if logged_in?
          -if current_user.can_modify?(group)
            = link_to t("shared.layout.notice.manage").titleize, domain_url(:controller => "manage", :custom => group.domain), :class => "button"
            -if group.state == "active"
              = link_to t(".close"), close_group_path(group), :class => "cancel button"
          -if current_user.admin?
            = link_to t("scaffold.destroy"), group, :confirm => 'Are you sure?', :method => :delete
            - if group.has_custom_ads
              = link_to t(".disallow_ads"), disallow_custom_ads_group_path(group)
            -else
              = link_to t(".allow_ads"), allow_custom_ads_group_path(group)
      .clear
=will_paginate @groups
.clear

= link_to t(".request_group"), new_group_path, :class => "request_group"
.clear