
#groups.subtitle{:class => @state}
  = t(".title")
  .right.tabs
    .tab.active
      = link_to t(".actives"), groups_path(:tab=>"actives")
    .tab.pending
      = link_to t(".pendings"), groups_path(:tab=>"pendings")

%ul
  -@groups.each do |group|
    %li.list-item
      %span
        -if group.state == "active"
          = link_to image_tag(logo_group_path(group), :style => "height: 64px; width: 128px; vertical-align: top"), host_url(group.domain)
        -else
          = image_tag(logo_group_path(group), :style => "height: 64px; width: 128px; vertical-align: top")
      %span
        -if group.state == "active"
          = link_to h(group.name), host_url(group.domain)
        -else
          &= group.name
        &= group.description
      %span.buttons.right
        = link_to t(".about"), group, :class => "button"
        -if logged_in?
          -if current_user.can_modify?(group)
            = link_to t("scaffold.edit"), edit_group_path(group), :class => "button"
            -if group.state == "active"
              = link_to t(".close"), close_group_path(group), :class => "cancel button"
          -if current_user.admin?
            = link_to t("scaffold.destroy"), group, :confirm => 'Are you sure?', :method => :delete, :class => "button cancel"
            - if group.has_custom_ads
              = link_to t(".disallow_ads"), disallow_custom_ads_group_path(group), :class => "button cancel"
            -else
              = link_to t(".allow_ads"), allow_custom_ads_group_path(group), :class => "button cancel"

            -if group.pending?
              = link_to t(".accept_group"), accept_group_path(group), :class => "button"
              = link_to t(".accept_group_with_custom_ads"), accept_group_path(group, :has_custom_ads => true), :class => "button"

      .clear
=will_paginate @groups

.buttons
  = link_to t(".request_group"), new_group_path, :class => "button"

