-content_for :subtabs do
  .navtitle
    = t(".title")
    -if @groups
      == (#{format_number(@groups.total_entries)})

  %ul
    -if current_user.admin?
      %li.active
        = link_to t(".actives"), groups_path(:tab=>"actives")
      %li.pending
        = link_to t(".pendings"), groups_path(:tab=>"pendings")
    %li.newest
      = link_to t(".newest", :default => :"questions.index.newest"), groups_path(:tab=>"newest")
    %li.oldest
      = link_to t(".oldest", :default => :"questions.index.oldest"), groups_path(:tab=>"oldest")
    %li.most_active
      = link_to t(".most_active"), groups_path(:tab=>"most_active")

%ul.items#groups
  = render :partial => "group", :collection => @groups

=will_paginate @groups
.clear

= link_to t(".request_group"), new_group_path, :class => "request_group"
.clear
