#show_groups.subtitle.about
  = link_to t(".title", :name => h(@group.name)), domain_url(:custom => @group.domain)
  .right.tabs
    .tab.about
      = link_to t(".about", :default => :"groups.index.about"), about_path
    .tab.members
      = link_to "members", members_path


= image_tag(logo_group_path(@group), :class => "group_logo")

%br

%p
  .markdown
    =markdown( @group.description)

  %br
  -if logged_in? && current_user.owner_of?(@group)
    -case @group.state
      -when "pending"
        .message.warn
          .internal
            = t("groups.show.group_awaiting_acceptance")
      -when "close"
        .message.warn
          .internal
            = t("groups.show.group_closed")

.buttons
  -if logged_in?
    -if current_user.owner_of?(@group)
      = link_to t("scaffold.edit"), edit_group_path(@group), :class => "button"
      = link_to t("scaffold.back"), groups_path, :class => "cancel button"
    -if current_user.admin? && @group.state == "pending"
      = link_to t("groups.show.accept_group"), accept_group_path(@group), :class => "button"
    -if current_user.can_modify?(@group) && @group.state == "active"
      = link_to t("groups.show.close_group"), close_group_path(@group), :class => "cancel button"
