-content_for :subtabs do
  .navtitle
    = t(".title", :name => h(@group.name))

#show_group
  -if @group.has_logo?
    = image_tag(logo_group_path(@group), :class => "group_logo")

  .markdown
    =find_and_preserve(shapado_auto_link(markdown(@group.description)))
  .clear
  -if !@group.isolate && @group.owner.login
    %b= t("activerecord.attributes.group.group_created_by")
    = link_to h(@group.owner.login), user_path(@group.owner)

  -case @group.state
    -when "pending"
      .message.warn
        .internal
          = t(".group_awaiting_acceptance")
    -when "close"
      .message.warn
        .internal
          = t(".group_closed")

  .actions
    -if !@group.isolate
      = link_to t(".visit_group"), domain_url(:custom => @group.domain)
    -if logged_in?
      -if current_user.owner_of?(@group)
        = link_to t(".admin", :default => :"shared.topbar.admin"), domain_url(:controller => "manage", :action => "properties", :custom => @group.domain)
      -if current_user.admin? && @group.state == "pending"
        = link_to t(".accept_group"), accept_group_path(@group)
        = link_to t(".accept_group_with_custom_ads"), accept_group_path(@group, :has_custom_ads => true)
      -if current_user.can_modify?(@group) && @group.state == "active"
        = link_to t(".close_group"), close_group_path(@group)
