
%h1
  &= @group.name
  Group

= link_to "visit this group", subdomain_url(@group.subdomain)
%br
= image_tag(logo_group_path(@group))


%p
  &= @group.description
  %br
  %b the categories for this group are:
  &= @group.categories.join(", ")
  %br
  -if @group.owner.login
    %b this group was created by
    = link_to h(@group.owner.login), user_path(@group.owner)

  %br
  -case @group.state
    -when "pending"
      .message.warn
        .internal
          This group is awaiting for the acceptance of a moderator.
    -when "close"
      .message.warn
        .internal
          This group was closed.

.buttons
  = link_to 'Edit', edit_group_path(@group), :class => "button"
  = link_to 'Back', groups_path, :class => "cancel button"
  -if current_user.moderator? && @group.state == "pending"
    = link_to 'Accept this group', accept_group_path(@group), :class => "button"
  -if current_user.can_modify?(@group) && @group.state == "active"
    = link_to 'Close this group', close_group_path(@group), :class => "cancel button"
