
.subtitle
  = t("information", :scope => "views.users.form")

.field-group
  .label-container
    = f.label :login, t(:login, :scope => "activerecord.attributes.user")
  .field
    = f.text_field :login, :class => "text-field"

-if @user.new? || @user.openid_login?
  .field-group
    .label-container
      = f.label :email, t(:email, :scope => "activerecord.attributes.user")
    .field
      = f.text_field :email, :class => "text-field"

-if !@user.openid_login?
  -if !@user.new?
    .field-group
      .label-container
        = label_tag :current_password, t(:current_password, :scope => "activerecord.attributes.user")
      .field
        = password_field :current_password, '', :class => 'text-field'

  .field-group
    .label-container
      = f.label :password, t(:password, :scope => "activerecord.attributes.user")
    .field
      = f.password_field :password, :class => "text-field"

  .field-group
    .label-container
      = f.label :password_confirmation, t(:password_confirmation, :scope => "activerecord.attributes.user")
    .field
      = f.password_field :password_confirmation, :class => "text-field"

.field-group
  .label-container
    = f.label :name, t(:name, :scope => "activerecord.attributes.user")
  .field
    = f.text_field :name, :class => "text-field"


.field-group
  .label-container
    = f.label :languaje, t(:language, :scope => "activerecord.attributes.user")
  .field
    = f.select :language, locales_options

.field-group
  .label-container
    = f.label :timezone, t(:timezone, :scope => "activerecord.attributes.user")
  .field
    =time_zone_select( "user", "timezone", ActiveSupport::TimeZone.all, :include_blank => true)

.field-group
  .label-container
    = f.label :preferred_languages, t(:preferred_languages, :scope => "activerecord.attributes.user")
  .field
    -AVAILABLE_LANGUAGES.each do |lang|
      = check_box_tag "user[preferred_languages][]", lang, @user.preferred_languages.include?(lang)
      = language_desc(lang)


.field-group
  .label-container
    = f.label :categories, t(:categories, :scope => "activerecord.attributes.user", :default => "Categories")
  .field
    %table
      -Shapado::CATEGORIES.each_slice(3) do |categories|
        %tr
          -categories.each do |cat|
            %td
              = check_box_tag "user[categories][]", cat, @user.categories.include?(cat)
              = category_desc(cat)
    .tip
      =t("categories_tip", :scope => "views.users.form")

-unless @user.new_record?
  .field-group
    .label-container
      = f.label :preferred_tags, t(:preferred_tags, :scope => "activerecord.attributes.user")
    .field
      = f.text_field :preferred_tags, :value => @user.preferred_tags.join(", "), :class => "text-field"
  .subtitle
    = t("notifications", :scope => "views.users.form")

  .field-group
    = f.check_box "notification_opts[new_answer]", :checked => @user.notification_opts["new_answer"] == "1"
    = t("new_answer_notification", :scope => "views.users.form")
