

.field-group
  .label-container
    = f.label :login, t(:login, :scope => "activerecord.attributes.user")
  .field
    = f.text_field :login, :class => "text-field"

.field-group
  .label-container
    = f.label :email, t(:email, :scope => "activerecord.attributes.user")
  .field
    = f.text_field :email, :class => "text-field"

-if !@user.new?
  .field-group
    .label-container
      = label_tag :current_password, t(:current_password, :scope => "activerecord.attributes.user")
    .field
      = password_field :current_password, '', :class => 'text-field'

.field-group
  .label-container
    = f.label :password, t(:password, :scope => "activerecord.attributes.user")
  .field
    = f.password_field :password, :class => "text-field"

.field-group
  .label-container
    = f.label :password_confirmation, t(:password_confirmation, :scope => "activerecord.attributes.user")
  .field
    = f.password_field :password_confirmation, :class => "text-field"

.field-group
  .label-container
    = f.label :languaje, t(:language, :scope => "activerecord.attributes.user")
  .field
    = select :user, :language, AVAILABLE_LOCALES

.field-group
  .label-container
    = f.label :timezone, t(:timezone, :scope => "activerecord.attributes.user")
  .field
    =time_zone_select( "user", "timezone", ActiveSupport::TimeZone.all, :include_blank => true)

-unless @user.new_record?
  .field-group
    .label-container
      = f.label :preferred_tags, t(:preferred_tags, :scope => "activerecord.attributes.user")
    .field
      = f.text_field :preferred_tags, :value => @user.preferred_tags.join(", "), :class => "text-field"


