
.group
  = f.label :login, t(:login, :scope => "activerecord.attributes.user"), :class => "label"
  = f.text_field :login, :class => "text_field"

-if @user.new? || !@user.openid_login?
  .group
    = f.label :email, t(:email, :scope => "activerecord.attributes.user"), :class => "label"
    = f.text_field :email, :class => "text_field"

-if !@user.openid_login?
  -if !@user.new?
    .group
      = label_tag :current_password, t(:current_password, :scope => "activerecord.attributes.user"), :class => "label"
      = password_field :current_password, '', :class => 'text_field'

  .group
    = f.label :password, t(:password, :scope => "activerecord.attributes.user"), :class => "label"
    = f.password_field :password, :class => "text_field"

  .group
    = f.label :password_confirmation, t(:password_confirmation, :scope => "activerecord.attributes.user"), :class => "label"
    = f.password_field :password_confirmation, :class => "text_field"

.group
  = f.label :name, t(:name, :scope => "activerecord.attributes.user"), :class => "label"
  = f.text_field :name, :class => "text_field"


.group
  = f.label :languaje, t(:language, :scope => "activerecord.attributes.user"), :class => "label"
  = f.select :language, locales_options, {}, :class => "select"

.group
  = f.label :timezone, t(:timezone, :scope => "activerecord.attributes.user"), :class => "label"
  =time_zone_select( "user", "timezone", ActiveSupport::TimeZone.all, {:include_blank => true}, :class => "select")

.group
  = f.label :preferred_languages, t(:preferred_languages, :scope => "activerecord.attributes.user"), :class => "label"
  -AVAILABLE_LANGUAGES.each do |lang|
    .radio_option
      = check_box_tag "user[preferred_languages][]", lang, @user.preferred_languages.include?(lang), :class => "checkbox"
      %label.radio
        = language_desc(lang)

-unless @user.new_record?
  .subtitle
    = t(".notifications")

  .group
    = f.check_box "notification_opts[new_answer]", :checked => @user.notification_opts["new_answer"] == "1"
    = t(".new_answer_notification")
