- if logged_in?
  #user-bar-greeting
    Logged in as
    = link_to_current_user :content_method => :login
  #user-bar-action
    (
    = link_to "Log out", destroy_user_session_path, { :title => "Log out" }
    )
- else
  #user-bar-greeting
    = link_to_login_with_IP 'Not logged in', :style => 'border: none;'
  #user-bar-action
    = link_to "Log in",  new_user_session_path,  { :title => "Log in" }
    \/
    = link_to "Sign up", signup_path, { :title => "Create an account" }

