-content_for :subtabs do
  .navtitle
    = t("users.index.title")
    -if @users
      == (#{format_number(@users.total_entries)})

  %ul
    %li.reputation
      = link_to t(".reputation"), users_path(:sort=>"reputation"), :title => t(".reputation_tooltip")
    %li.newest
      = link_to t(".newest"), users_path(:sort=>"newest"), :title => t(".newest_tooltip")
    %li.oldest
      = link_to t(".oldest"), users_path(:sort=>"oldest"), :title => t(".oldest_tooltip")
    %li.name
      = link_to t(".name"), users_path(:sort=>"name"), :title => t(".name_tooltip")

-form_tag "/users", :class => "form", :id => "filter_users", :method => "get" do
  = label_tag :q, t(".filter"), :class => "label"
  = text_field_tag "q", params[:q], :class => "text_field filter_field"
  = submit_tag("filter")

/Users
%ul.items#users
  -@users.each do |user|
    = render :partial => "user", :object => user

#additional_info
  =will_paginate @users
  .clear
