%h2
  =t(:title, :scope => "views.users.index")


%table.list#users
  -@users.each_slice(3) do |line|
    %tr
      -line.each do |user|
        %td
          %span
            = gravatar user.email.to_s, :class => "left"
            = link_to h(user.login), user_path(user)
            %br
          %span.clear
            %span
              &= user.reputation
              %b{:title => t(:reputation, :scope => "activerecord.attributes.user")}
                = t(:reputation, :scope => "activerecord.attributes.user")[0..1]
              &= user.questions.count
              %b{:title => t(:questions, :scope => "activerecord.models")}
                = t(:questions, :scope => "activerecord.models")[0..1]
              &= user.answers.count
              %b{:title => t(:answers, :scope => "activerecord.models")}
                = t(:answers, :scope => "activerecord.models")[0..1]
