
%h1
  = gravatar @user.email.to_s
  &= @user.login

%h2
  = number_with_delimiter(@questions.total_entries)
  =t(:questions, :scope => "activerecord.models")

#questions
  -@questions.each do |question|
    = render :partial => "shared/question", :locals => {:question => question}
  = will_paginate @questions, :param_name => "questions_page"
#answers
  %h2
    = number_with_delimiter(@answers.total_entries)
    = t(:answers, :scope => "activerecord.models")
  %table.list
    -@answers.each do |answer|
      %tr
        %td.votes{:style=>"text-align: center; width: 10%"}
          &=answer.votes_average
          = t(:votes, :scope => "activerecord.attributes.question")
        %td.question
          = link_to h(answer.question.title), question_path(current_category, answer.question, :anchor => answer.id)
  =will_paginate @answers, :param_name => "answers_page"

-content_for :sidebar do
  %b
    = t(:created_at, :scope => "activerecord.attributes.user")
  = time_ago_in_words(@user.created_at)
  %br
  %b
    = t(:last_logged_at, :scope => "activerecord.attributes.user")
  -if @user.last_logged_at
    = time_ago_in_words(@user.last_logged_at)
  %br
  %b
    = t(:reputation, :scope => "activerecord.attributes.user")
  = @user.reputation_on(current_group)
