-if @banned
  -form_tag unban_path do
    %table.table
      %tr
        %th
        %th
          =t(:flags, :scope => "activerecord.models")
        %th
          =t(:title, :scope => "activerecord.attributes.question")
        %th
          =t(:body, :scope => "activerecord.attributes.question")
      -@banned.each do |question|
        %tr
          %th
            = check_box_tag "question_ids[]", question.id
          %td
            = render :partial => "flags/list", :locals=> {:flaggeable => question}
          %td
            = link_to h(question.title), question_path(question)
          %td
            = truncate(h(question.body), :length => 100)
    = will_paginate @banned, :param_name => "questions_page"
    = submit_tag "unban"
