.error-dialog
  %h1= title
  #dialog-content
    %span
      = image_tag(error_image)
      %p= explanation
      .error-options
        %b= t("errors.options_label")
        %ul
          %li
            = t("errors.go_to", :link =>link_to(t("layouts.application.home"), root_path))
          %li
            = t("errors.help_us_answer", :link => link_to(t("layouts.application.questions"), questions_path(current_category)))
          %li
            -form_tag search_path, :class => "form", :method => :get do
              =t("errors.search")
              = text_field_tag 'q', "", :class => "text-field"
              %button{:type => "submit"}
                = t('layouts.applications.search', :default => "Go")
    .clear
