
%h3
  = t(:preferred_tags, :scope => "activerecord.attributes.user").titleize
.tags-list
  -current_user.preferred_tags_on(current_group).each do |tag|
    %span.tag
      = link_to h(tag), questions_path(:category => current_category, :tags => tag)
      = link_to "x", change_preferred_tags_user_path(current_user, :category => current_category, :opt => "remove", :tags => [tag]), :class => "remove_tag"

- form_tag change_preferred_tags_user_path(current_user), :class => "form" do
  = hidden_field_tag :category, current_category
  = hidden_field_tag :opt, "add"
  = text_field :tags, "", :class => "text-field", :size => 22
  = submit_tag "add"
