.block
  %h3
    = t(:preferred_tags, :scope => "activerecord.attributes.user")
  .content
    .tag-list{:style => "margin-bottom: 3px"}
      -current_user.preferred_tags_on(current_group).each do |tag|
        %span.tag{:class => "tag_#{h(tag)}"}
          = link_to h(tag), url_for(:controller => (controller_name == "welcome" ? "questions" : controller_name), :tags => tag), :rel => "tag", :title => t("questions.tags.tooltip", :tag => tag)
          = link_to "-", change_preferred_tags_user_path(current_user, :opt => "remove", :tags => [tag]), :class => "remove_tag"

    - form_tag change_preferred_tags_user_path(current_user), :class => "form" do
      .fields
        = hidden_field_tag :opt, "add"
        = text_field_tag "tags", "", :class => "text_field", :style => "width: 70%", :class => "autocomplete_for_tags", :id => 'tags_autocomplete'
        = submit_tag t("scaffold.add"), :class => "button"
