.block
  %h3
    = t(:preferred_tags, :scope => "activerecord.attributes.user").titleize
  .content
    .tag-list{:style => "margin-bottom: 3px"}
      -current_user.preferred_tags_on(current_group).each do |tag|
        %span.tag
          = link_to h(tag), questions_path(:language => current_languages, :tags => tag)
          = link_to "-", change_preferred_tags_user_path(current_user, :language => current_languages, :opt => "remove", :tags => [tag]), :class => "remove_tag"

    - form_tag change_preferred_tags_user_path(current_user), :class => "form" do
      = hidden_field_tag :category, current_languages
      = hidden_field_tag :opt, "add"
      = text_field :tags, "", :class => "text_field", :style => "width: 70%"
      = submit_tag t("scaffold.add"), :class => "button"
