-form_tag send_feedback_path, :class => "form", :method => "post" do
  .group
    = label_tag "feedback[title]", t(".feedback_title"), :class => "label"
    = text_field_tag "feedback[title]", "", :class=> "text_field"
  .group
    = label_tag "feedback[description]", t(".feedback_description"), :class => "label"
    = text_area_tag "feedback[description]", "", :class=> "text_area"
  .group.navform
    = submit_tag(t("scaffold.send"), :class => "button")
    = t("global.or")
    = link_to t("scaffold.cancel"), root_path, :class => 'cancel-feedback'
