%span#facts
  %h1 Get the facts!

%h2 Pricing:

%table#pricing
  %tr
    %th
    %th
      %h3 Small
    %th
      %h3 Medium
    %th
      %h3 Large
    %th
      %h3= t('views.facts.prices.cols.onsite')
  %tr
    %td
      StackExchange
    %td
      = t('views.facts.prices.stackexchange.small')
    %td
      = t('views.facts.prices.stackexchange.medium')
    %td
      = t('views.facts.prices.stackexchange.large')
    %td
      = t('views.facts.prices.stackexchange.onsite')
  %tr
    %td
      Shapado
    %td
      = t('views.facts.prices.shapado.small')
    %td
      = t('views.facts.prices.shapado.medium')
    %td
      = t('views.facts.prices.shapado.large')
    %td
      = t('views.facts.prices.shapado.onsite')

%h2 Features:

%table#pricing
  %tr
    %th
    %th
      %h3= t('views.facts.features.cols.adaptable')
    %th
      %h3= t('views.facts.features.cols.multitopic')
    %th
      %h3= t('views.facts.features.cols.multilanguage')
    %th
      %h3= t('views.facts.features.cols.foss')
    %th
      %h3= t('views.facts.features.cols.joel')
  %tr
    %td
      StackExchange
    %td
      = t('views.facts.features.stackexchange.adaptable')
    %td
      = t('views.facts.features.stackexchange.multitopic')
    %td
      = t('views.facts.features.stackexchange.multilanguage')
    %td
      = t('views.facts.features.stackexchange.foss')
    %td
      = t('views.facts.features.stackexchange.joel')
  %tr
    %td
      Shapado
    %td
      = t('views.facts.features.shapado.adaptable')
    %td
      = t('views.facts.features.shapado.multitopic')
    %td
      = t('views.facts.features.shapado.multilanguage')
    %td
      = t('views.facts.features.shapado.foss')
    %td
      = t('views.facts.features.shapado.joel')

