%ul#questions
  -if @questions.empty?
    .box.highlight
      %li
        = t(".empty", :default => :"questions.index.empty")
  -@questions.each do |question|
    = render :partial => "questions/question", :object => question

#additional_info
  =will_paginate @questions

  #help_us
    Help us to answer
    =link_to "unanswered questions", unanswered_questions_path(:language => current_languages)

  .clear

-content_for :sidebar do
  -if logged_in?
    = render :partial => "shared/preferred_tags"
  .block
    %h3
      = t('.tags', :default => [:"layouts.applications.tags", :"activerecord.attributes.user.tags", "tags"]).capitalize
    = tag_cloud
