
#welcome.subtitle{:class => @active_subtab}
  = t(".recent_questions", :default => "Recent Questions")
  .right.tabs
    .tab.active
      = link_to t(".active"), root_path(:tab=>"active")
    .tab.hot
      = link_to t(".hot"), root_path(:tab=>"hot")

#questions
  -if @questions.empty?
    .box.highlight
      = t(".empty", :default => :"questions.index.empty")
  -@questions.each do |question|
    = render :partial => "question", :object => question

= will_paginate @questions

-content_for :sidebar do
  -if logged_in?
    = render :partial => "shared/preferred_tags"
  -else
    .group_box
      %h3
        &= current_group.name
      .markdown
        = markdown(truncate(current_group.description, 300))
        =link_to t("scaffold.more", :default => :"groups.index.about"), group_path(current_group)

  %h1
    = t('.tags', :default => [:"layouts.applications.tags", :"activerecord.attributes.user.tags", "tags"]).capitalize
  = tag_cloud
