-content_for :subtabs do
  .navtitle
    = t(".recent_questions", :default => "Recent Questions")
    -if @questions
      == (#{@questions.total_entries})

  %ul{:style => "display: inline"}
    %li.activity
      = link_to t("questions.index.active"), root_path(:tab=>"activity")
    %li.hot
      = link_to t("questions.index.hot"), root_path(:tab=>"hot")

%h3.title
  #quick_question
    -form_for Question.new, :url => new_question_path(:language => current_languages), :html => {:class => "form", :method => :get} do |f|
      -lang = current_languages.kind_of?(Array) ? current_languages.first : current_languages
      = f.hidden_field :language, :value => logged_in? ? current_user.language : current_languages
      %label.label
        =t(".quick_question")
      .columns
        .column_info
          -if logged_in?
            -reputation = current_user.reputation_on(current_group)
            .avatar
              = gravatar(current_user.email.to_s, :size => 64)
            .reputation{:class => class_for_number(reputation)}
              = format_number(reputation)
          -else
            .avatar
              = gravatar("", :size => 64)
        .column_form
          .group
            .pointer
            =f.text_area :title, :class => "text_area"
          =f.submit t(".ask_question", :default => :"layouts.application.ask_question"), :class => "ask_question"
      .clear
%ul.items#questions
  -if @questions.empty?
    .box.highlight
      %li
        = t(".empty", :default => :"questions.index.empty")
  -@questions.each do |question|
    = render :partial => "questions/question", :object => question

#additional_info
  =will_paginate @questions

  #help_us
    = t("questions.index.help_to_answer")
    = link_to t("questions.index.unanswered_questions"), unanswered_questions_path(:language => current_languages)

  .clear

-content_for :sidebar do
  -if !current_group.isolate
    .block{:style => "background: transparent"}
      .content
        =link_to "Create your own Q&A site in 8 seconds for free", new_group_path, :id => "create_own_site"

  -if logged_in?
    = render :partial => "shared/preferred_tags"
  .block
    %h3
      = t('.tags', :default => [:"layouts.applications.tags", :"activerecord.attributes.user.tags", "tags"])
    = tag_cloud
