
.main-title
  = t("views.layout.recent_questions", :default => "Recent Questions")
  %span.right.tabs
    %ul
      %li.tab
        = link_to "active", root_path(:tab=>"active")
      %li.tab
        = link_to "hot", root_path(:tab=>"hot")

#questions
  -@questions.each do |question|
    = render :partial => "shared/question", :locals => {:question => question}

= will_paginate @questions

-content_for :sidebar do
  %h1
    = I18n.t('views.questions.sidebar.tags', :default => [:"views.layout.tags", :"activerecord.attributes.user.tags", "tags"]).capitalize
  = tag_cloud
