
#welcome.subtitle{:class => @active_subtab}
  = t(".recent_questions", :default => "Recent Questions")
  .right.tabs
    .tab.active
      = link_to t(".active"), root_path(:tab=>"active")
    .tab.hot
      = link_to t(".hot"), root_path(:tab=>"hot")

#questions
  -@questions.each do |question|
    = render :partial => "question", :object => question

= will_paginate @questions

-content_for :sidebar do
  -if logged_in?
    = render :partial => "shared/preferred_tags"
  %h1
    = t('.tags', :default => [:"layouts.applications.tags", :"activerecord.attributes.user.tags", "tags"]).capitalize
  = tag_cloud
