-content_for :subtabs do
  .navtitle
    = t(".recent_questions", :default => "Recent Questions")
    -if @questions
      == (#{@questions.total_entries})

  %ul{:style => "display: inline"}
    %li.activity
      = link_to t("questions.index.active"), root_path(:tab=>"activity")
    %li.hot
      = link_to t("questions.index.hot"), root_path(:tab=>"hot")

%ul#questions
  -if @questions.empty?
    .box.highlight
      %li
        = t(".empty", :default => :"questions.index.empty")
  -@questions.each do |question|
    = render :partial => "questions/question", :object => question

#additional_info
  =will_paginate @questions

  #help_us
    = t("questions.index.help_to_answer")
    = link_to t("questions.index.unanswered_questions"), unanswered_questions_path(:language => current_languages)

  .clear

-content_for :sidebar do
  -if logged_in?
    = render :partial => "shared/preferred_tags"
  .block
    %h3
      = t('.tags', :default => [:"layouts.applications.tags", :"activerecord.attributes.user.tags", "tags"]).capitalize
    = tag_cloud
