
-if !@questions.empty?
  %h2
    = t(:questions, :scope => "activerecord.models")
  %ul
    -@questions.each do |question|
      .question
        %strong
          = link_to h(question.title), question_path(question)
        %br
        = truncate(question.body, :length => 400)

-if !@answers.empty?
  %h2
    = t(:answers, :scope => "activerecord.models")
  %ul
    -@answers.each do |answer|
      -if answer.question.id
        .question
          %strong
            = link_to h(answer.question.title), question_answer_path(answer.question.id, answer.id, :anchor => answer.id)
          %br
          = truncate(answer.body, :length => 400)
