-if local_assigns[:parent]
  = f.hidden_field :parent_id, :value => local_assigns[:parent].id
.field-group
  .label-container
    %label
      -if local_assigns[:parent]
        = I18n.t('views.answers.form.comment_label')
      -else
        = I18n.t('views.answers.form.comment_label')
  -opts = {:class => "text-area huge"}
  -opts[:id] = "markdown_editor" if local_assigns[:markdown]
  = f.text_area :body, opts
  -if local_assigns[:markdown]
    %h3
      = t("views.answers.form.preview")
    #markdown_preview.markdown
