
.group
  %label.label
    = t('.answer_label')

  -opts = {:class => "text_area", :rows => 'auto', :cols => 'auto'}
  -if local_assigns[:markdown]
    -if current_group.wysiwyg_editor
      -opts[:id] = "wysiwyg_editor"
      -opts[:value] = markdown(@answer.body)
    -else
      -opts[:id] = "markdown_editor"

  = f.text_area :body, opts

  -if local_assigns[:markdown] && !current_group.wysiwyg_editor
    %label.label
      = t("global.preview")
    #markdown_preview.markdown
      =markdown(@answer.body)

-if !@answer.new?
  .group
    = f.label :version_message, t("wiki.model.attributes.message"), :class => "label"
    = f.text_field :version_message, :class => "text_field"
-elsif !logged_in?
  = render :partial => "users/anonymous_form"
