-content_for :subtabs do
  .navtitle
    = t(".title")

- form_for(:answer, :url => question_answer_path(@question, @answer), :html => {:method => :put, :class => "form"}) do |f|
  =render :partial => "form", :locals => {:f => f, :markdown => true}
  .group
    .group.navform
      .controls.right{:style => "width: 50%"}
        .left{:style => "width: 49.5%"}
          = f.label :wiki, "Wiki", :class => "radio"
          = f.check_box :wiki, :class => "checkbox"
      = f.submit t("scaffold.update"), :class => "buttton"
      = t("global.or")
      = link_to t('scaffold.cancel'), question_path(@question), :class => "button cancel"
