%h2
  = t(".title")
- form_for(:answer, :url => question_answer_path(current_languages,@question, @answer), :html => {:method => :put, :class => "form"}) do |f|
  = f.error_messages
  =render :partial => "form", :locals => {:f => f}
  .group
    .group.navform
      = f.submit t("scaffold.update"), :class => "buttton"
      = t("global.or")
      = link_to t('scaffold.cancel'), question_path(current_languages, @question), :class => "button cancel"
