-content_for :subtabs do
  .navtitle
    =t("wiki.history.title", :count => @answer.versions.count)

-counter = @answer.versions.count

-form_tag diff_question_answer_path(@question, @answer), :method => "GET", :class => "form" do
  #answers
    .answer
      %h2
        =link_to h(@question.title), question_path(@question)
      %h2.version_title
        = radio_button_tag("prev", :current, :checked => @prev == "current")
        = radio_button_tag("curr", :current, :checked => @curr == "current")
        =t("wiki.history.current_version")
        .diff_actions
          -if @answer.versions.count > 0
            =link_to t("global.previous"), diff_question_answer_path(@question, @answer, :curr => :current, :prev => @question.versions.count-1), :class => "diff_prev"
      -if !@answer.version_message.blank?
        %h3.version_message
          = @answer.version_message
      -if !@answer.body.blank?
        %h2=t(:body, :scope => "activerecord.attributes.answer")
        .markdown
          = shapado_auto_link(markdown(@answer.body))

    -@answer.versions.reverse_each do |version|
      -counter -= 1
      -if !version.data.empty?
        = render :partial => "wiki/version", :object => version, :locals => {:post => @answer, :number => counter, :prev => @prev, :curr => @curr, :scope => "activerecord.attributes.answer"}

  .group.navform
    = submit_tag t("wiki.actions.show_diff"), :value => "diff", :name => "show"
    = t("global.or")
    = link_to(t("scaffold.back"), question_path(@question))
