
-content_for :subtabs do
  .navtitle
    = t(".title")

-content_for :sidebar do
  = ""

- form_for(@page, :url => page_path(@page), :html => {:class => "form"}) do |f|
  =render :partial => "form", :locals => {:f => f}

  .group
    = f.label :css, t(:css, :scope => "activerecord.attributes.page"), :class => "label"
    = f.text_area :css, :class => "text_area", :value => @page.has_css? ? @page.css.read : ""

  -if current_group.has_custom_js && current_user.role_on(current_group) == "owner"
    .group
      = f.label :js, t(:js, :scope => "activerecord.attributes.page"), :class => "label"
      = f.text_area :js, :class => "text_area", :value => @page.has_js? ? @page.js.read : ""

  .group.navform
    .right
      = f.label :wiki, "Wiki", :class => "radio"
      = f.check_box :wiki, :class => "checkbox"

    = f.submit t('scaffold.update')
    = t("global.or")
    = link_to t('scaffold.cancel'), page_path(@page), :class => "button cancel"
