= include_latex

-content_for :head do
  -if @page.has_css?
    %link{:href => css_page_path(@page),  :rel => "stylesheet", :media => "screen", :type => "text/css"}

  -if current_group.has_custom_js && @page.has_js?
    %script{:src => js_page_path(@page), :type => "text/javascript"}

-content_for :subtabs do
  %h1.navtitle.title
    &= @page.title

-content_for :sidebar do
  -if (logged_in? && current_user.can_edit_wiki_post_on?(current_group) )
    .block
      %h3
        =t("pages.actions.title")
      .content
        %ul.navigation
          %li
            = link_to t("pages.actions.create_page"), new_page_path
          %li
            = link_to t("pages.actions.edit_page"), edit_page_path(@page)

.markdown
  -if safe_page?(@page)
    -body = current_group.wysiwyg_editor ? CGI.unescapeHTML(@page.body) : @page.body
    = markdown(body, :raw => true, :sanitize => false)
  -else
    = markdown(@page.body)
