- flaggeable_class_name = flag.flaggeable.class.name

-form_for flag, :html => {:class=>"form flag_form", :id => local_assigns[:form_id]} do |f|
  .fields
    =f.hidden_field "flaggeable_type", :value => flaggeable_class_name, :id => "flaggeable_type_#{flaggeable_class_name}_#{flag.flaggeable.id}"
    =f.hidden_field "flaggeable_id", :value => flag.flaggeable.id, :id => "flaggeable_id_#{flaggeable_class_name}_#{flag.flaggeable.id}"
    =f.hidden_field "return_to", :value => source, :id => "flaggeable_source_#{flaggeable_class_name}_#{flag.flaggeable.id}"
  .group
    %label.label
      =t(".label")

  .group
    = f.label :type,t(:type, :scope=>"activerecord.attributes.flag"), :class => "label"
    = select_tag "flag[type]", options_for_select(Flag::TYPES.collect{|type| [t(type, :scope=>"flags.form"), type]}), :id => "flaggeable_typeselect_#{flaggeable_class_name}_#{flag.flaggeable.id}"

  .group.navform
    = f.submit t("scaffold.create"), :id => "flaggeable_submit_#{flaggeable_class_name}_#{flag.flaggeable.id}"
    = t("global.or")
    = link_to t("scaffold.cancel"), source, :class => "button cancel"
