%h2
  Change your password

-form_for resource_name, resource, :url => password_path(resource_name), :html => { :method => :put } do |f|
  = f.error_messages
  = f.hidden_field :reset_password_token
  %p
    = f.label :password
  %p
    = f.password_field :password
  %p
    = f.label :password_confirmation
  %p
    = f.password_field :password_confirmation
  %p
    = f.submit "Change my password"

%h2
  = t("sessions.new.with_openid")

-cookies[:reset_openid_token] = params[:reset_password_token]
= render :partial => "sessions/openid", :locals => {:only_openid => true}

= render :partial => "shared/devise_links"
