
%h4.title
  #search_box
    - form_tag search_path, :class => "form", :method => :get do
      %label.label
        = t("searches.form.search_box_title")
      %br
      = hidden_field_tag :sort_by, current_order
      .group
        -tags = ""
        -current_tags.each {|tag| tags += " [#{tag}]"}
        = text_field_tag :q, params[:q].to_s + tags, :class => "text_field title"
        .description
          = t("searches.form.search_tip")
      = submit_tag t("layouts.application.search"), :class => "button search"
    .clear
