

-form_for [question, close_request], :html => {:class => "close_form form  #{local_assigns[:hide] ? "hide": ""}"} do |form|
  .group
    = form.label :reason, t(:reason, :scope=>"activerecord.attributes.flag"), :class => "label"
    -CloseRequest::REASONS.each do |reason|
      = form.radio_button :reason, reason, :class => "radio_button"
      = t(reason, :scope=>"close_requests.form")
      %br

  .group
    = form.label :comment, t(:comment, :scope=>"models"), :class => "label"
    = form.text_field :comment, :class => "text_field"

  -if current_user.mod_of?(current_group)
    .group
      = check_box_tag "close"
      = t('.close_with_reason')

  .group.navform
    -if @close_request.new?
      = submit_tag t(".request_closing_details"), :class => "button", :id => "close_question_submit_#{@question.id}"
    -else
      = form.submit t("scaffold.update"), :id => "close_question_submit_#{@question.id}"
    = t("global.or")
    = link_to t("scaffold.cancel"), question_path(@question), :class => "button cancel"
