-content_for :after_form do
  %h1
    Share
  = render :partial => "shared/dlvr_link", :locals => {:url => questions_url(:format => :atom)}

%h1
  Facebook App
.group
  %label.label
    Application id
  = text_field_tag 'group[share][fb_app_id]', @group.share.fb_app_id, :class => "text_field"
.group
  %label.label
    Secret key
  = text_field_tag 'group[share][fb_secret_key]',  @group.share.fb_secret_key, :class => "text_field"
.group
  = check_box_tag 'group[share][fb_active]', @group.share.fb_active, :class => "checkbox"
  %label.radio
    active

%h1
  == Share Prefix / Suffix
.group
  %label.label
    Starts with
  = text_field_tag 'group[share][starts_with]', @group.share.fb_starts_with, :class => "text_field"
  .description
    ==ie. #qa
.group
  %label.label
    Ends with
  = text_field_tag 'group[share][ends_with]', @group.share.fb_end_with, :class => "text_field"
  .description
    ==ie. #shapado
%h1
  Asking from

.group
  %label.label
    question asked to
  @
  = text_field_tag 'group[share][twitter_user]', nil, :class => "text_field", :style => "width: 10%"
  .description
    a twitter account

.group.navform
  = f.submit t('scaffold.update')
