-content_for :subtabs do
  .navtitle
    =t("admin.manage.properties.#{@active_subtab}.title")
  %ul
    %li.general
      = link_to t("layouts.manage.general"), manage_properties_path(:tab => "general")
    %li.share
      = link_to t("global.share"), manage_properties_path(:tab => "share")
    %li.theme
      = link_to t("layouts.manage.theme"), manage_properties_path(:tab => "theme")
    %li.constrains
      = link_to t("layouts.manage.constrains"), manage_properties_path(:tab => "constrains")
    %li.rewards
      = link_to t("layouts.manage.rewards"), manage_properties_path(:tab => "rewards")
    %li.domain
      = link_to t("layouts.manage.domain"), manage_properties_path(:tab => "domain")
