.group
  = f.label :logo, t('logo', :scope => "activerecord.attributes.group"), :class => "label"
  -unless @group.new?
    = image_tag(logo_group_path(@group))
  %br
  = f.file_field :logo
  .description
    = t('.logo_legend')
  = text_field_tag "group[logo_info][width]", @group.logo_info["width"] || 215
  x
  = text_field_tag "group[logo_info][height]", @group.logo_info["height"] || 60

.group
  = f.label :custom_favicon, "Favicon", :class => "label"
  -if @group.has_custom_favicon?
    = image_tag(favicon_group_path(@group))
  -else
    = image_tag("/favicon.ico")
  = f.file_field :custom_favicon

.group
  = f.label :theme, t(:theme, :scope => "activerecord.attributes.group", :default => "Theme" ), :class => "label"
  = f.select :theme, AVAILABLE_THEMES, {}, :class => "choose_theme"

.group
  = f.label :custom_css, "Custom css", :class => "label"
  -custom_css = ""
  -@group.has_custom_css? ? custom_css = @group.custom_css.read : custom_css = ""
  = f.text_area :custom_css, :value => custom_css, :class => "text_area"

.group.navform
  = f.submit t('scaffold.update')
