!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = render :partial => "shared/layout/css"

    = current_group.head_tag
    = render :partial => "shared/layout/meta"
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = render :partial => "shared/layout/javascript"

  %body
    = render :partial => "shared/analytics"
    #container{:class => @current_class}
      = render :partial => "shared/topbar"
      #header
        = current_group.head
        #main-bar{:class => @active_tab}
          #logo{:style => "min-height: 63px"}
            -if current_group.has_logo?
              =link_to image_tag(logo_group_path(current_group), :class => "group_logo", :width => current_group.logo_info["width"], :height => current_group.logo_info["height"]), domain_url(:custom => current_group.domain)
            -else
              = link_to image_tag("default_logo.png", :class => "group_logo"), domain_url(:custom => current_group.domain)
          = render :partial => "shared/user_navigation"
          .clear

          -announcements = current_announcements(session[:announcement_hide_time])
          -unless announcements.empty?
            #announcement
              #announcement_message
                -announcements.each do |announcement|
                  =markdown(announcement.message)
              =link_to "Close", hide_announcements_path, :id => "hide_announcement"
              .clear

          -if !logged_in?
            -if AppConfig.twitter["activate"] && request.referrer =~ %r{^https?://(www\.){0,1}twitter\.com}
              .flash
                .message.notice.highlight_for_user{:style => "padding: 8px 4px; font-weight: bold"}
                  =t(".welcome_from")
                  =link_to t("sessions.new.with_twitter"), twitter_authorize_path, :title => "Twitter", :id => "twitter_auth", :class => "highlight_for_user"
                  =t(".now")
            -elsif with_facebook? && request.referrer =~ %r{^https?://(www\.){0,1}facebook\.com}
              .flash
                .message.notice.highlight_for_user{:style => "padding: 8px 4px; font-weight: bold"}
                  =t(".welcome_from")
                  =link_to t("sessions.new.with_facebook"), oauth_authorize_path, :title => "Facebook", :id => "facebook_auth"
                  =t(".now")
      #wrapper
        #main
          = render :partial => "shared/ads/header_ads"
          #block-text.block
            .secondary-navigation{:class => @active_subtab.to_s}
              = yield :subtabs
              .clear
            .content
              %p.markdown
                = show_flash_messages(:class => "flash", :markdown => true)

              = render :partial => "shared/ads/content_ads"
              .inner
                = yield
                .clear
        #sidebar
          = yield :sidebar

          = render :partial => "shared/ads/context_panel_ads"

          -unless feed_urls.empty?
            .block
              %h3
                = t(".subscribe")
              .sidebar-block
                .feeds
                  -feed_urls.each do |title, url|
                    .feed_entry
                      %a{:href => url}
                        %span
                          =image_tag "atom.png", :width => 20
                        =h(title)
                  .clear
        .clear
        = render :partial => "shared/ads/footer_ads"

      #footer
        .block.content
          = render :partial => "layouts/footer"
