!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Shapado - Questions & Answers
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "keywords", :content => "" }

    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'

  %body
    .two-column
      #header
        #logo
          %a{:href => root_path}
            =image_tag "logo.png", :height => "45", :alt => "Shapado"
        #user-actions
          #user-nav
            -if !logged_in?
              .box
                .left
                  =link_to "signup", signup_path
                -form_tag session_path, :id => "main_head_login", :class => "form" do
                  %fieldset
                    .field-group.left
                      = label_tag "Email"
                      = text_field_tag 'login', @login, :class => "text-field", :size => 12

                    .field-group.left
                      = label_tag "Password"
                      = password_field_tag 'password', nil, :class => "text-field", :size => 12
                      %em.helper
                        %a{ :href => "#" }
                          Forgot?
                    .buttons
                      %button{ :type => "submit"}
                        Log in
            -else
              .left{:style =>"text-align: right"}
                Logged in as
                %b
                  =current_user.login
                =link_to "Logout", logout_path
              .box.right
                -form_tag search_path, :class => "form", :method => :get do
                  %fieldset
                    %p
                      = text_field_tag 'q', params[:q], :class => "text-field"
                  .buttons
                    %button{:type => "submit"}
                      Go

      .clear
      %br
      #navigation
        #menu_primary
          %ul
            %li.selected
              =link_to "questions", questions_path
            %li
              =link_to "tags", "#"
            %li
              =link_to "users", users_path
            %li
              =link_to "unanswered", "#"
            %li{:style=>"float: right;"}
              =link_to "ask question", new_question_path, :style => "background: #004181;color: #dedede"
      #main-content
        -flash.each do |k,v|
          .message{:class => k.to_s}
            .internal
              =v
        #layout
          #content
            .internal
              = yield
          #sidebar
            .internal
              = yield :sidebar
      #footer
        %hr
        %p
          \&copy; 2009 Ricodigo. Some rights reserved.
      .clear
