!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Shapado - Questions & Answers
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "keywords", :content => "" }

    = javascript_include_tag "jquery", "jquery-ui", "showdown", "jquery.textarea", "application"
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/markdown_editor.css', :media => 'screen, projection'

  %body
    .two-column
      #header
        #logo
          %a{:href => root_path}
            =image_tag "logo.png", :height => "45", :alt => "Shapado"
        #user-actions
          #user-nav
            -if !logged_in?
              .box
                .left
                  =link_to t('views.layout.signup'), signup_path
                -form_tag session_path, :id => "main_head_login", :class => "form" do
                  %fieldset
                    .field-group.left
                      = label_tag "Email", t(:email, :scope => "activerecord.attributes.user")
                      = text_field_tag 'login', @login, :class => "text-field", :size => 12

                    .field-group.left
                      = label_tag "Password", t(:password, :scope => "activerecord.attributes.user")
                      = password_field_tag 'password', nil, :class => "text-field", :size => 12
                      %em.helper
                        %a{ :href => "#" }
                          =t('views.layout.forgot')
                    .buttons
                      %button{ :type => "submit"}
                        =t('views.layout.log_in')
            -else
              .left{:style =>"text-align: right"}
                = I18n.t('views.layout.logged', :default => "Logged in as {{login}}", :login => h(current_user.login))
                =link_to I18n.t('views.layout.logout'), logout_path
                =link_to I18n.t('views.layout.settings'), settings_path
              .box.right
                -form_tag search_path, :class => "form", :method => :get do
                  %fieldset
                    %p
                      = text_field_tag 'q', params[:q], :class => "text-field"
                  .buttons
                    %button{:type => "submit"}
                      = I18n.t('views.layout.search', :default => "Go")
      .clear
      %br
      #navigation
        #menu_primary
          %ul
            %li.selected
              =link_to I18n.t("views.layout.questions"), questions_path
            %li
              =link_to I18n.t("views.layout.tags"), tags_questions_path
            %li
              =link_to I18n.t("views.layout.users"), users_path
            %li
              =link_to I18n.t("views.layout.unanswered"), unanswered_questions_path
            -if logged_in?
              -current_user.preferred_tags.each do |tag|
                %li
                  =link_to h(tag), questions_path(:tags => tag)
            %li{:style=>"float: right;"}
              =link_to I18n.t("views.layout.ask_question"), new_question_path, :style => "background: #004181;color: #dedede"
      #main-content
        -flash.each do |k,v|
          .message{:class => k.to_s}
            .internal
              =v
        #layout
          #content
            .internal
              = yield
          #sidebar
            .internal
              = yield :sidebar
      #footer
        %hr
        %p
          \&copy; 2009 Ricodigo. Some rights reserved.
      .clear
