!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Shapado - Questions & Answers
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "keywords", :content => "" }

    %link{ :href => "/stylesheets/reset.css", :rel => "Stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "/stylesheets/960.css", :rel => "Stylesheet", :type => "text/css", :media => "screen, projection" }
    %link{ :href => "/stylesheets/application.css", :rel => "Stylesheet", :type => "text/css", :media => "screen, projection" }


  %body
    #main_head
      .inner.container_16
        #logo.grid_3
          =image_tag "logo.png", :height => "45", :alt => "Shapado"
        -if !logged_in?
          #login.grid_13
            -form_tag session_path, :id => "main_head_login" do
              %fieldset
                %em.label.grid_5.alpha
                  Existing Users &raquo;
                %ul
                  %li.grid_3
                    = label_tag "Email"
                    = text_field_tag 'login', @login
                  %li.grid_3
                    = label_tag "Password"
                    = password_field_tag 'password', nil
                    %em.helper
                      %a{ :href => "#" }
                        Forgot?
                  %li
                    .buttons
                      %button.grid_2.flat.omega{ :type => "submit" }
                        Log in
        -else
          Logged In As
          =current_user.login
      %span.clear
    #navigation
      #menu_primary.container_16
        %ul.grid_16
          %li
            =link_to "Questions", questions_path
          %li
            =link_to "Tags", "#"
          %li
            =link_to "Users", "#"
          %li
            =link_to "Unanswered", "#"
      %span.clear
    #wrapper
      #content.container_16
        = yield
      %span.clear
    #bg_footer
      #footer.container_16
        #runner.grid_16
          .grid_14.omega
            %ul.sitemap_primary
              %li
                =link_to "Questions", questions_path
              %li
                =link_to "Tags", "#"
              %li
                =link_to "Users", "#"
              %li
                =link_to "Unanswered", "#"
            %p
              \&copy; 2009 Ricodigo. All rights reserved.
