!!! Strict
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = current_group.head_tag
    = render :partial => "shared/layout/css"
    = render :partial => "shared/layout/meta"
    = render :partial => "shared/layout/javascript"

  %body
    = render :partial => "shared/analytics"
    #container
      #header
        #main-bar
          #logo
            -if current_group.has_logo?
              =link_to image_tag(logo_group_path(current_group), :class => "group_logo", :width => current_group.logo_info["width"], :height => current_group.logo_info["height"]), domain_url(:custom => current_group.domain)
            -else
              = link_to image_tag("default_logo.png", :class => "group_logo"), domain_url(:custom => current_group.domain)
          .clear
      #wrapper
        #main
          #block-text.block
            .content
              %p.markdown
                = show_flash_messages(:class => "flash", :markdown => true)
              .inner
                = yield
                .clear
