= f.error_messages
.group
  = f.label :user_id, t(:login, :scope => "activerecord.attributes.user"), :class => "label"
  = f.text_field :user_id, :value => @member.user.login, :class => "text_field"
  .description
    = t(".login_tip")

.group
  = f.label :role, t(:role, :scope => "activerecord.attributes.member"), :class => "label"
  = f.select :role, Member::ROLES, :selected => @member.role
