.group
  = label_tag :user_id, t(:login, :scope => "activerecord.attributes.user"), :class => "label"
  = text_field_tag :user_id, @member.login, :class => "text_field", :id => "member_user_id"
  .description
    = t(".login_tip")

.group
  = label_tag :role, t(:role, :scope => "activerecord.attributes.member"), :class => "label"
  = select_tag :role, options_for_select(Membership::ROLES, @member.role)
